
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="LoginStyling.css"/>
    <title>Login - BYTE Recruitment Task</title>
</head>
<body>
    <div class="container">
        <h1 class="heading">BYTE Recruitment Task</h1>
        <h2 class="login-message">Login with Google or GitHub to proceed further</h2>
        <button id="google-btn" class="google-btn" >
            <!-- <img class="google-logo" src="../Images/google-logo-png-open-2000.png" alt="Google logo"/> -->
           <img  class="google-logo" src="https://imgs.search.brave.com/25CDFRL-XL98MkrJ5Ygp1xz8aihLY7HmtSc2L0Twf6Q/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9mcmVl/bG9nb3BuZy5jb20v/aW1hZ2VzL2FsbF9p/bWcvMTY1Nzk1NTQ0/N2dvb2dsZS1sb2dv/LWJsYWNrLWFuZC13/aGl0ZS5wbmc" alt="google"/>
            <h4 class="login-in-message">Login with Google</h4>
        </button>
        <p>OR</p>
        <button id="github-btn" class="github-btn" >
            <!-- <img class="github-logo" src="../Images/GitHub-Logo.png" alt="GitHub logo"/> -->
            <img src="https://imgs.search.brave.com/w5LFW4ei3PC6DUOkw2jcpG1OVDzoYhDqENlECFBWUg8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8y/LzI0L0dpdGh1Yl9s/b2dvX3N2Zy5zdmc" alt="github"/>
            <h4 class="login-in-message">Follow Byte on Github</h4>
        </button>
    </div>
    <script src='LoginWithGoogleGithub.js'></script>
</body>
</html>
